/* ================================= */
/* ===        MODAL_REWARD       === */
/* ================================= */


.modal_reward_overlay {
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    color: #e4e7cd;
    animation: reward 4s ease-in-out;
    /* opacity: 0; */
}
.modal_reward_overlay.active {
    animation: blurIn 0.3s ease-in-out forwards;
}
.modal_reward_overlay.closing {
    animation: blurOut 0.3s ease-in-out forwards;
}
.modal_reward {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: auto;
    pointer-events: none;
}
.modal_reward_contain {
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.modal_reward_content {
    width: 1100px;
    height: 390px;
    border-radius: 20px;
    position: absolute;
    background-color: #000000c0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: reward_content 5s;
}
.modal_reward_content::before {
    content: '';
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    margin-left: -20px;
    animation: reward_content_overlay 6s;
}
.modal_reward_content > svg {
    height: 50px;
    filter: blur(.7px);
    position: absolute;
}
#border_modal_top_left {
    top: 25px;
    left: 25px;
}
#border_modal_top_right {
    top: 25px;
    right: 25px;
}
#border_modal_bottom_left {
    bottom: 25px;
    left: 25px;
}
#border_modal_bottom_right {
    bottom: 25px;
    right: 25px;
}
.image_reward {
    margin-left: 20px;
    position: absolute;
}
.item-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sunburst-complex-fx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(circle, black 30%, transparent 70%);
    mask-image: radial-gradient(circle, black 30%, transparent 70%);
}
.fx-layer-base {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
        from 0deg,
        var(--botw-deep-shadow) 0deg 5deg,
        var(--botw-green-dark) 5deg 10deg,
        var(--botw-deep-shadow) 10deg 25deg 
        );
        animation: rotate-slow 250s linear infinite;
        opacity: 0.8;
        filter: blur(2px);
    }
    .fx-layer-rays-1 {
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(
            from 15deg at 50% 50%,
            var(--botw-gold-mid) 0deg 8deg, 
            var(--transparent) 8deg 10deg, 
            var(--botw-gold-light) 10deg 12deg, 
            var(--transparent) 12deg 30deg 
            );
            mix-blend-mode: hard-light; 
            animation: rotate-medium 70s linear infinite;
            opacity: 0.7;
        filter: blur(3px);
    }
    .fx-layer-rays-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(
            from -20deg at 51% 49%, 
            var(--botw-gold-light) 0deg 2deg,
            var(--transparent) 2deg 7deg,
        var(--botw-green-dark) 7deg 10deg,
        var(--transparent) 10deg 46deg 
        );
        mix-blend-mode: screen; 
        animation: rotate-reverse-fast 200s linear infinite;
        opacity: 0.5;
        filter: blur(1px);
    }
    .fx-center-vignette {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, rgba(20,30,10,1) 0%, rgba(20,30,10,0.5) 25%, transparent 60%);
        z-index: 5;
        mix-blend-mode: multiply;
    }
    .sword-image {
        position: absolute;
        z-index: 100;
        width: 210px;
        height: auto;
        border: 30px;
    }
    .text_reward {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        height: 270px;
        width: 800px;
        margin-left: 320px;
    }
.text_reward > h2 {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: 900;
    word-spacing: -2px;
    letter-spacing: -.03em;
}
.modal_divisor {
    width: 700px;
    height: 2px;
    background-color: #ffffff30;
    margin-top: 10px;
}
.text_reward > p {
    margin-top: 15px;
    width: 90%;
    line-height: 1.3em;
    font-size: 1.5em;
    font-weight: 900;
}
.text_reward > h3 {
    margin-top: 25px;
    font-size: 2.2em;
    letter-spacing: .4em;
    width: 700px;
    text-align: center;
    color: #e4e7cd60;
}
.modal_reward_contain > .exit_dialog {
    bottom: 170px;
    animation: exit_dialog 7s;
}