/* =================================== */
/* ===         CONTAIN_PRI         === */
/* =================================== */


.triforce_top {
    width: 17px;
    position: absolute;
    z-index: 10;
    top: 160px;
    left: 59px;
    animation: glow02 .5s ease-in-out infinite;
    cursor: pointer;
    pointer-events: all;
}
.triforce_bottom {
    width: 17px;
    position: absolute;
    z-index: 10;
    top: 896px;
    left: 59px;
    transform: rotate(270deg);
}
.contain_pri {
    width: calc(100% - 60px);
    height: 750px;
    transform: translateY(160px);
    right: 0;
    position: absolute;
    background-color: #ffffff12;
    border: 2px solid #ffffff10;
    clip-path: polygon(
        20px 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 20px 100%, 0 calc(100% - 20px), 0 20px
        );
        border-right: 0;
    color: #fcfee5;
}
.content_pri {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.content_pri span {
    color: #f0384e;
}


/* =============== */
/* === MISSION === */
/* =============== */

.mission {
    height: 95%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.icon_area {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    height: 140px;
}
.icon_area::before {
    content: "";
    position: absolute;
    background-color: #fcfee4;
    bottom: 20px;
    left: 60px;
    z-index: 20;
    height: 2px;
    width: 50px;
}
.icon_area::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #ffffff00, #ffffff20 5%);
    bottom: 20px;
    right: 50px;
    z-index: 20;
    height: 2px;
    width: 290px;
}
.name_area {
    position: absolute;
    transform: translateX(calc(((-200px - 101.22px) / 2) + 15px));
    z-index: 30;
    font-size: 1.1em;
}
.name_area > h3 {
    width: 200px;
    height: 30px;
    text-align: center;
    letter-spacing: .03em;
}
.icon_area > svg {
    height: 60px;
    margin-top: 35px;
    cursor: pointer;
}
#r_joystick {
    position: absolute;
    bottom: 6px;
    width: 35px;
    height: 30px; 
    left: 115px;
}
#meuSvg {
    position: absolute;
    bottom: 14px;
    width: 18px; 
    height: 18px;
    left: 150px;
}
.mission_area {
    padding: 10px;
    width: 650px;
    position: relative;
    cursor: pointer;
}
.tri {
    position:absolute;
    width:12px;
    z-index:30;
    filter:drop-shadow(0 0 4px #fcfee460);
    --tx: 0px;
    --ty: 0px;
    transform: translate3d(var(--tx), var(--ty), 0);
}
#tri_top_left {
    top:12px;
    left:12px;
}
#tri_top_right {
    top:12px;
    right:12px;
}
#tri_bottom_left {
    bottom:12px;
    left:12px;
}
#tri_bottom_right {
    bottom:12px;
    right:12px;
}
.mission_contain {
    background-color: #000000b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 3px;
    position: relative;
    animation: glow 2s ease-in-out infinite;
}
.mission_contain::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    border: 2px solid #fcfee4;
    /* box-shadow: 0 0 20px #fcfee4; */
    border-radius: 3px;
}
.mission_content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mission_icon > svg {
    height: 40px;
}
.mission_text > h1 {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    height: 30px;
}
.mission_text > p {
    font-weight: 600;
    color: #f9d008;
    letter-spacing: .04em;
}
.mission_select {
    background-color: #ffffff15;
    margin-right: 5px;
    border-radius: 2px;
    height: 82px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 25px;
    aspect-ratio: 1/1;
}
.selected::after {
    content: '';
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #CFA834;
    box-shadow: 0 0 3px #CFA83490, inset 0 0 3px #CFA83490;
    position: absolute;
    background-color: transparent;
    animation: borderSelected 1.3s ease-out infinite;
}
.selected > svg {
    filter: drop-shadow(0 0 5px #f9d00860) drop-shadow(0 0 4px #f9d10860) drop-shadow(0 0 2px #f9d10860);
}

/* ======================= */
/* === MISSION_DETAILS === */
/* ======================= */

.mission_details {
    height: 90%;
    width: 70%;
    z-index: 0;
    position: relative;
    background-image: linear-gradient(to right, #000000c0 30%, #00000000);
    border-radius: 3px;
}
.mission_details::before {
    content: "";
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    position: absolute;
    border: 2px solid #ffffff40;
    border-right: none;
}
.details {
    z-index: 20;
    padding: 40px;
    width: 600px;
}
.details > h1 {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    margin-top: 10px;
}
.delegator_local {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.delegator {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    letter-spacing: .06em;
    color: rgb(159, 159, 159);
}
.delegator > img {
    width: 18px;
}
.local {
    font-weight: 600;
    color: #f9d008;
    letter-spacing: .04em;
}
.text_details {
    font-size: 1.3em;
}
.text_details > p {
    font-family: 'Calamity-regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #e4e7cd;
    margin-top: 25px;
    line-height: 1.25em;
}
.button {
    padding: 10px;
    width: 100%;
    position: relative;
    cursor: pointer;
    transform: translateX(-10px);
    margin-top: 20px;
    animation: blur_button 5s;
}
.button > .tri {
    display: none;
}
.button:hover > .tri {
    display: flex;
}
.button_content {
    background-color: #000000b0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    position: relative;
    height: 60px;
}
.button:hover > .button_content {
    animation: glow 1.5s ease-in-out infinite;
}
.button:active > .button_content {
    background-color: #e4e7cd;
}
.button_content::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    border: 1px solid #fcfee420;
    border-radius: 3px;
    transition: ease-in-out .15s;
}
.button:hover > .button_content::after {
    border: 1px solid #fcfee4d0;
    /* box-shadow: 0 0 20px #fcfee4; */
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}
.button_content > p {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .03em;
    font-size: 1.3em;
    user-select: none;
    transform: scaleY(1.10);
}
.divisor_top {
    width: 100%;
    height: 1px;
    background-color: #ffffff30;
    margin-top: 5px;
}
.divisor_botton01 {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #ffffff30;
    margin-top: 60px;
}
.divisor_botton02 {
    width: 600px;
    height: 1px;
    background-color: #ffffff30;
    margin-bottom: 40px;
    bottom: 0;
    position: absolute;
}