/* ====================================== */
/* ===         ACTION_BUTTONS         === */
/* ====================================== */


.action_buttons {
    width: 500px;
    height: 50px;
    top: 915px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #e4e7cd;
    font-weight: 800;
}
.action_buttons p {
    padding: 10px;
    text-shadow: 0 0 5px #e4e7cd20;
    letter-spacing: .05em;
}
.b_button, .a_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_button_icon, .a_button_icon {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}