/* ==================================== */
/* ===         FINAL_SCREEN         === */
/* ==================================== */


.final_screen {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    color: #B8AE89;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5em;
    pointer-events: auto;
    animation: reward 4s ease;
    background-color: #0c0c0c;
    z-index: 9999999;
}
#finalScreen {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
#finalScreen.show {
    opacity: 1;
}
.final_screen::after {  
    content: '';
    background-image: url("../public/background28_zelda.jpg");
    background-size: cover;
    background-position: left top;
    filter: opacity(.2);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: red;
}

.final_screen_contain {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.final_screen_contain > .button {
    width: 600px;
}
.final_screen_contain > .button > .button_content {
    height: 100px;
    font-size: .6em;
    background-color: #0C0C0Cc0;
}
