.mission_contain {
    width: 100%;
}
.mission_content {
    gap: 1.3vw;
    margin: 3vw;
}
.mission_icon > svg {
    width: 12vw;
}
.mission_text > h1 {
    font-size: 5.2vw;
    height: 5.2vw;
}
.mission_text > p {
    font-size: 3vw;
}
.mission_select {
    margin-right: 1.2vw;
    height: 14vw;
    width: 6.3vw;
}
.selected {
    height: 2vw;
    width: 2vw;
}
.selected > div{
    width: 1.4vw;
    height: 1.4vw;
}



/* 

    body {
        line-height: 1.6em;
    }

    header {
        height: 160px;
        width: calc(100% - 180px);
        margin: 0 60px 0 60px;
    }
    .hearts {
        width: 480px;
        gap: 0;
    }
    .hearts > svg {
        margin: 3px;
        height: 25px;
        width: 25px;
    }
    .header_info {
        gap: 5px;
        margin-top: 15px;
    }
    .header_info_title > h1{
        font-size: 2.8em;
        font-weight: 700;
        height: 50px;
    }
    .circle {
        gap: 6px;
        margin-top: -20px;
        height: 15px;
    }
    .header_info_icon {
        gap: 5px;
        margin-top: 10px;
    }
    .header_info_icon > svg {
        width: 32px;
    }
    .header_info_icon > h2 {
        font-size: 1.4em;
        height: 30px;
        width: 110px;
        letter-spacing: 1px;
        transform: scaleY(.92);
    }
    .rupees > img {
        width: 60px;
    }
    .rupees > h1 {
        letter-spacing: 3px;
        height: 40px;
    }

    .triforce_top {
        width: 17px;
        top: 160px;
        left: 59px;
    }
    .triforce_botton {
        width: 17px;
        top: 1045px;
        left: 59px;
    }

    .contain_pri {
        width: calc(100% - 60px);
        height: 900px;
        transform: translateY(160px);
    }

    .content_pri {
        height: 100%;
    }

    .mission {
        height: 95%;
        width: 70%;
    }
    .icon_area {
        width: 500px;
        gap: 30px;
        margin-top: 10px;
        height: 140px;
    }
    .icon_area::before {
        bottom: 20px;
        left: 60px;
        z-index: 20;
        height: 2px;
        width: 50px;
    }
    .icon_area::after {
        bottom: 20px;
        right: 50px;
        height: 2px;
        width: 290px;
    }
    .name_area {
        transform: translateX(calc(((-200px - 101.22px) / 2) + 15px));
        font-size: 1.1em;
    }
    .name_area > h3 {
        width: 200px;
        letter-spacing: .03em;
    }
    .icon_area > svg {
        height: 60px;
        margin-top: 35px;
    }
    .mission_area {
        padding: 10px;
        width: 650px;
    }
    .mission_contain {
        width: 100%;
        border-radius: 3px;
    }
    .mission_contain::after {
        width: calc(100% - 7px);
        height: calc(100% - 7px);
    }
    .mission_content {
        gap: 10px;
        margin: 15px;
    }
    .mission_icon > svg {
        width: 60px;
    }
    .mission_text > h1 {
        font-size: 1.8em;
        height: 30px;
    }
    .mission_text > p {
        letter-spacing: .04em;
    }
    .mission_select {
        margin-right: 7px;
        border-radius: 2px;
        height: 74px;
        width: 33px;
    }
    .selected {
        height: 11px;
        width: 11px;
    }
    .selected > div{
        width: 7px;
        height: 7px;
    }

    .mission_details {
        height: 90%;
        width: 70%;
    }
    .mission_details::before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin: 2px;
    }
    .details {
        padding: 30px;
        width: 600px;
    }
    .details > h1 {
        height: 35px;
        margin-top: 10px;
    }
    .delegator_local {
        margin-top: 10px;
    }
    .delegator {
        gap: 5px;
        letter-spacing: .06em;
    }
    .local {
        letter-spacing: .04em;
    }
    .text_details {
        font-size: 1.3em;
        margin-top: 10px;
    }
    .text_details > p {
        margin-top: 25px;
    }
        
*/






/* ======================================= */
/* ===            KEYFRAMES            === */
/* ======================================= */


@keyframes glow {
    0% {
        box-shadow: 0 0 8px #fcfee490;
    }
    25% {
        box-shadow: 0 0 4px #fcfee440;
    }
    50% {
        box-shadow: 0 0 0x #fcfee420;
    }
    75% {
        box-shadow: 0 0 4px #fcfee440;
    }
    100% {
        box-shadow: 0 0 8px #fcfee490;
    }
}

@keyframes glow02 {
    0% {
        filter: drop-shadow(0 0 2px #fcfee4) drop-shadow(0 0 1px #fcfee4);
    }
    50% {
        filter: drop-shadow(0 0 0px #fcfee4);
    }
    100% {
        filter: drop-shadow(0 0 2px #fcfee4) drop-shadow(0 0 1px #fcfee4);
    }
}

@keyframes glow03 {
    0% {
        filter: drop-shadow(0 0 2px #fcfee450) drop-shadow(0 0 1px #fcfee450);
    }
    50% {
        filter: drop-shadow(0 0 0px #fcfee450);
    }
    100% {
        filter: drop-shadow(0 0 2px #fcfee450) drop-shadow(0 0 1px #fcfee450);
    }
}

@keyframes blur {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 100%;
    }
}

@keyframes blur_button {
    0% {
        filter: blur(15px);
        opacity: 0;
    }
    50% {
        filter: blur(15px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 100%;
    }
}

@keyframes blurIn {
    from {
        filter: blur(15px);
        opacity: 0;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes blurOut {
    from {
        filter: blur(0px);
        opacity: 1;
    }
    to {
        filter: blur(15px);
        opacity: 0;
    }
}

@keyframes korokIdle {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes continue {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 0;
    } 
}

@keyframes rotate-slow {
    0% { transform: rotate(0deg) scale(1.2); }
    100% { transform: rotate(360deg) scale(1.2); }
}

@keyframes rotate-medium {
    0% { transform: rotate(0deg) scale(1.3); }
    50% { opacity: 0.8; }
    100% { transform: rotate(360deg) scale(1.3); }
}

@keyframes rotate-reverse-fast {
    0% { transform: rotate(0deg) scale(1.3); }
    50% { opacity: 0.8; }
    100% { transform: rotate(-360deg) scale(1.3); }
}

@keyframes reward {
    0% {
        filter: blur(5px);
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 100%;
    }
}

@keyframes reward_content {
    0% {
        box-shadow: 0 0 0 0 #CFA834a0;
        filter: blur(35px);
    }
    45% {
        box-shadow: 0 0 0 0 #CFA834a0;
    }
    100% {
        box-shadow: 0 0 30px 90px transparent;
        filter: blur(0px);
    }
}

@keyframes reward_content_overlay {
    0% {
        background-color: transparent;
    }
    40% {
        background-color: transparent;
    }
    45% {
        background-color: #CFA834a0;
    }
    100% {
        background-color: transparent;
    }
}



/* =================================== */
/* ===            HOOTS            === */
/* =================================== */


:root {
    --botw-gold-light: rgba(184, 174, 84, 0.6);
    --botw-gold-mid: rgba(125, 117, 46, 0.5);
    --botw-green-dark: rgba(60, 70, 30, 0.7);
    --botw-deep-shadow: rgba(20, 30, 10, 0.9);
    --transparent: rgba(0,0,0,0);
}



/* =================================== */
/* ===            GERAL            === */
/* =================================== */


::selection {
  background-color: #e4e7cd10;
}
* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: auto;
}
body {
    font-family: 'Calamity-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111213;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}



/* ================================= */
/* ===        MODAL_REWARD       === */
/* ================================= */


.modal_reward_overlay {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    color: #e4e7cd;
    animation: reward 4s ease-in-out;
    /* opacity: 0; */
}
.modal_reward_overlay.active {
    animation: blurIn 0.3s ease-in-out forwards;
}
.modal_reward_overlay.closing {
    animation: blurOut 0.3s ease-in-out forwards;
}
.modal_reward {
    position: absolute;
    height: 715px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: auto;
    pointer-events: none;
}
.modal_reward_content {
    width: 1100px;
    height: 390px;
    border-radius: 20px;
    position: absolute;
    background-color: #000000c0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: reward_content 5s;
}
.modal_reward_content::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    margin-left: -20px;
    animation: reward_content_overlay 6s;
}
.modal_reward_content > svg {
    height: 50px;
    filter: blur(.7px);
    position: absolute;
}
#border_modal_top_left {
    top: 25px;
    left: 25px;
}
#border_modal_top_right {
    top: 25px;
    right: 25px;
}
#border_modal_bottom_left {
    bottom: 25px;
    left: 25px;
}
#border_modal_bottom_right {
    bottom: 25px;
    right: 25px;
}
.image_reward {
    margin-left: 20px;
    position: absolute;
}
.item-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sunburst-complex-fx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(circle, black 30%, transparent 70%);
    mask-image: radial-gradient(circle, black 30%, transparent 70%);
}
.fx-layer-base {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
        from 0deg,
        var(--botw-deep-shadow) 0deg 5deg,
        var(--botw-green-dark) 5deg 10deg,
        var(--botw-deep-shadow) 10deg 25deg 
    );
    animation: rotate-slow 250s linear infinite;
    opacity: 0.8;
    filter: blur(2px);
}
.fx-layer-rays-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
        from 15deg at 50% 50%,
        var(--botw-gold-mid) 0deg 8deg, 
        var(--transparent) 8deg 10deg, 
        var(--botw-gold-light) 10deg 12deg, 
        var(--transparent) 12deg 30deg 
        );
        mix-blend-mode: hard-light; 
        animation: rotate-medium 70s linear infinite;
        opacity: 0.7;
        filter: blur(3px);
    }
    .fx-layer-rays-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(
        from -20deg at 51% 49%, 
        var(--botw-gold-light) 0deg 2deg,
        var(--transparent) 2deg 7deg,
        var(--botw-green-dark) 7deg 10deg,
        var(--transparent) 10deg 46deg 
        );
        mix-blend-mode: screen; 
        animation: rotate-reverse-fast 200s linear infinite;
        opacity: 0.5;
        filter: blur(1px);
    }
    .fx-center-vignette {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, rgba(20,30,10,1) 0%, rgba(20,30,10,0.5) 25%, transparent 60%);
        z-index: 5;
        mix-blend-mode: multiply;
}
.sword-image {
    position: absolute;
    z-index: 100;
    width: 210px;
    height: auto;
    border: 30px;
}
.text_reward {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 250px;
    width: 800px;
    margin-left: 320px;
}
.text_reward > h2 {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: 900;
    word-spacing: -2px;
    letter-spacing: -.03em;
}
.modal_divisor {
    width: 700px;
    height: 2px;
    background-color: #ffffff30;
    margin-top: 15px;
}
.text_reward > p {
    margin-top: 20px;
    width: 90%;
    line-height: 1.3em;
    font-size: 1.5em;
    font-weight: 900;
    color: #e4e7cdd0;
}
.text_reward > h3 {
    margin-top: 70px;
    font-size: 2.3em;
    letter-spacing: .4em;
    width: 700px;
    text-align: center;
    color: #e4e7cdd0;
}



/* =================================== */
/* ===        MODAL_RESPONSE       === */
/* =================================== */


.modal_response_overlay {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    color: #e4e7cd;
    opacity: 0;
}
.modal_response_overlay.active {
    animation: blurIn 0.3s ease-in-out forwards;
}
.modal_response_overlay.closing {
    animation: blurOut 0.3s ease-in-out forwards;
}
.modal_response {
    position: absolute;
    height: 315px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: auto;
    pointer-events: none;
}
.modal_response_content {
    width: 1100px;
    height: 225px;
    border-radius: 3000px;
    position: absolute;
    background-color: #000000c0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_response_content > svg {
    height: 100px;
    filter: blur(.7px);
    position: absolute;
}
#dialog_border_left {
    left: 30px;
}
#dialog_border_right {
    right: 30px;
}
.modal_response > h2 {
    position: absolute;
    top: 0;
    left: 160px;
    font-size: 2em;
    z-index: 50;
    line-height: 50px;
}
.response {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}
.input-wrapper {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 10px;
}
.input-wrapper::after {
    content: '';
    width: 253px;
    height: 2px;
    bottom: 9px;
    animation: glow 1.5s infinite;
    position: absolute;
    z-index: 100;
}
.input-wrapper > input {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: #e4e7cd;
    font-size: 2.2em;
    border: none;
    border-bottom: 3px solid #e4e7cd;
    text-align: center;
    width: 250px;
    height: 70px;
    line-height: 100px;
    transform: translateY(5px);
    outline: none;
    position: relative;
}
.input-wrapper > input::placeholder {
    color: #e4e7cd1d;
    transition: ease-in-out .2s;
}
.input-wrapper > input:focus::placeholder {
    transform: translateY(-5px);
}
#exit_dialog {
    position: absolute;
    height: 30px;
    bottom: 15px;
    z-index: 500;
    cursor: pointer;
}



/* =================================== */
/* ===          MODAL_KOROK        === */
/* =================================== */


.triforce_top.found {
    animation: none;
    filter: grayscale(100%);
}
.modal_korok_overlay {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    color: #e4e7cd;
    opacity: 0;
}
.modal_korok_overlay.active {
    animation: blurIn 0.3s ease-in-out forwards;
}
.modal_korok_overlay.closing {
    animation: blurOut 0.3s ease-in-out forwards;
}
.modal_korok {
    position: absolute;
    height: 315px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
    pointer-events: none;
    animation: korokIdle 2s ease-in-out infinite;
    background-image: url('https://images.fineartamerica.com/images/artworkimages/medium/3/korok-gun-adam-j-washington-transparent.png');
    background-repeat: no-repeat;
    background-position: 770px 40px;
    background-size: 350px;
}
.modal_korok:hover {
    transform: scale(1.01);
    filter: brightness(1.25);
    transition: transform 0.2s ease, filter 0.2s ease;
}
.modal_korok::after {
    content: "Clique para continuar";
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    letter-spacing: .05em;
    opacity: .7;
    pointer-events: none;
    color: #e4e7cd;
    animation: continue 2s infinite;
}
.modal_korok_content {
    width: 1100px;
    height: 225px;
    border-radius: 20px;
    position: absolute;
    background-color: #000000c0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_korok_content > svg {
    height: 100px;
    filter: blur(.7px);
    position: absolute;
}
#dialog_border02_left {
    left: 30px;
}
#dialog_border02_right {
    right: 30px;
}
.modal_korok_content > h2 {
    font-size: 2em;
    z-index: 50;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}