/* ============================ */
/* ===        LOADING       === */
/* ============================ */


.loading {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0c0c0c;
    z-index: 100000;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1.2s ease;
    cursor: wait;
}
.loading.hidden {
    opacity: 0;
    pointer-events: none;
}
.loading_zelda {
    position: absolute;
    height: 35px;
    width: 32px;
    bottom: 50px;
    left: 80px;
}
.loading_zelda > svg {
    height: 8px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: #e4e7cd;
}
.loading_balls_tri_up_top {
    top: 0;
    right: calc(50% - 4px);
    animation: loading_tri .6s ease infinite;
}
.loading_balls_tri_up_left {
    left: 0;
    top: 59%;
    animation: loading_tri .6s ease infinite;
}
.loading_balls_tri_up_right {
    right: 0;
    top: 59%;
    animation: loading_tri .6s ease infinite;
}
.loading_balls_tri_down_bottom {
    bottom: 0;
    right: calc(50% - 4px);
    animation: loading_tri .6s ease infinite .3s;
}
.loading_balls_tri_down_left {
    left: 0;
    bottom: 59%;
    animation: loading_tri .6s ease infinite .3s;
}
.loading_balls_tri_down_right {
    right: 0;
    bottom: 59%;
    animation: loading_tri .6s ease infinite .3s;
}