/* =============================== */
/* ===        MODAL_SURE       === */
/* =============================== */


.modal_sure_overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 20000000; /* Shh... Fala baixo */
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0cf0;
}
.modal_sure_contain {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_sure_contain > .button {
    width: 380px;
    animation: none;
    margin-top: 5px;
    transform: translateX(0px);
}
.modal_sure_text {
    margin-bottom: 50px;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}