/* =================================== */
/* ===        MODAL_RESPONSE       === */
/* =================================== */


.modal_response_overlay {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    backdrop-filter: blur(8px);
    color: #e4e7cd;
    opacity: 0;
}
.modal_response_overlay.active {
    animation: blurIn 0.3s ease-in-out forwards;
}
.modal_response_overlay.closing {
    animation: blurOut 0.3s ease-in-out forwards;
}
.modal_response {
    position: absolute;
    height: 315px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: auto;
    pointer-events: none;
}
.modal_response_content {
    width: 1100px;
    height: 225px;
    border-radius: 3000px;
    position: absolute;
    background-color: #000000c0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_response_content > svg {
    height: 100px;
    filter: blur(.7px);
    position: absolute;
}
#dialog_border_left {
    left: 30px;
}
#dialog_border_right {
    right: 30px;
}
.modal_response > h2 {
    position: absolute;
    top: 0;
    left: 160px;
    font-size: 2em;
    z-index: 50;
    line-height: 50px;
}
.response {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}
.input-wrapper {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}
.input-wrapper::after {
    content: '';
    width: 253px;
    height: 2px;
    bottom: 9px;
    animation: glow 1.5s infinite;
    position: absolute;
    z-index: 100;
}
.input_content {
    transform: translateY(5px);
    border-bottom: 3px solid #e4e7cd;
}
.input_content > input {
    font-family: 'Calamity-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: #e4e7cd;
    font-size: 2.2em;
    border: none;
    text-align: center;
    width: 250px;
    height: 70px;
    line-height: 100px;
    outline: none;
    position: relative;
}
.input_content > input::after {
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    background-color: red;
}
.input_content > input::placeholder {
    color: #e4e7cd1d;
    transition: ease-in-out .2s;
}
.input_content > input:focus::placeholder {
    transform: translateY(-5px);
}
.input_error {
    animation: errorInput 0.35s ease;
}
.exit_dialog {
    position: absolute;
    height: 30px;
    bottom: 15px;
    z-index: 500;
    cursor: pointer;
}
