/* ============================= */
/* ===        COMPLETE       === */
/* ============================= */


.complete {
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: none;
    opacity: 0;
    transition: opacity .1s linear;
    display: flex; /* já deixa preparado */
}
.complete.show {
    opacity: 1;
}
.video_contain_final {
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
}
.video_contain_final.show {
    opacity: .5;
}
.video_contain_final > #video_final {
    height: 100%;
    width: 100%;
    opacity: .7;
}
.speaks_final {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 150px;
    display: flex;
    align-items: end;
    justify-content: center;
}
#speak01_final {
    display: none;
    opacity: 0;
    animation: start_text_opacity 5s ease-in-out;
}
#speak02_final {
    display: none;
    opacity: 0;
    animation: start_text_opacity 5s ease-in-out;
}
#speak03_final {
    display: none;
    opacity: 0;
    animation: start_text_opacity 5s ease-in-out;
}
#speak04_final {
    display: none;
    opacity: 0;
    animation: start_text_opacity 5s ease-in-out;
}
#speak05_final {
    display: none;
    opacity: 0;
    animation: start_text_opacity 5s ease-in-out;
}
.speaks_final > p {
    text-align: center;
    width: 800px;
    letter-spacing: .12em;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 20px #4EFFFF, 0 0 10px #4EFFFF, 0 0 2px #4EFFFF, 0 0 1px #4EFFFF;
    font-size: 1.7em;
}
.complete_mission {
    width: 100vw;
    display: flex; /*cinco*/
    position: absolute;
}
.complete_mission_height {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.complete_mission_type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    opacity: 0;
    animation: mission_left 3.8s ease-in;
}
.complete_mission_svg_wrapper {
    width: 50px;
}
.complete_mission_type_wrapper > h2 {
    letter-spacing: .03em;
}
.complete_mission_overlay { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    width: 100%;
    height: 125px;
    margin: 10px 0;
}
.complete_mission_overlay::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: #dbe3a00a;
    animation: mission_all_left 4s ease-in;
}
.complete_mission_overlay {
    position: relative;
}
.complete_mission_overlay::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 110px;
    background-color: #dbe3a050;
    animation: mission_all_left 4s ease-in;
}
.complete_mission_overlay_wrapper > h1 {
    position: absolute;
    font-family: 'Hylia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-weight: 100;
    font-size: 6em;
    word-spacing: .1em;
    color: #0C0C0Cd0;
    position: relative;
    letter-spacing: .005em;
    opacity: 0;
    animation: mission_left 3.8s ease-in;
}
.complete_mission_objective {
    width: 100%;
}
.complete_mission_objective > p {
    position: absolute;
    right: 100px;
    bottom: 0;
    opacity: 0;
    animation: complete_mission 4s ease-in;
    font-family: 'Hylia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    color: #d0ba78;
    text-shadow: 0 0 10px #CFA834;
}